body {
    background: linear-gradient(95deg, #3c3d41, #181820);
    color: white;
    font-family: 'Roboto', sans-serif;
}

span {
    color: #ed3b6b;
}



.size_area {
    display: flex;
    gap: 1.2vh;
}

.colors_Area {
    display: flex;
    gap: 1.2vh;
    align-items: center;
}

.whitee {
    background-color: white;
    padding: 0.7vh;
    width: 2vh;
    border: none;
    border-radius: 15px;
    height: 2vh;
    color: white;
}

.redd {
    background-color: red;
    padding: 0.7vh;
    width: 2vh;
    border: none;
    border-radius: 15px;
    height: 2vh;
    color: red;
}

.six,.seven,.eight,.nine {
    padding: 1.1vh;
    width: 2vh;
    border: 1px solid black;
    border-radius: 15px;
    height: 2vh;
    text-align: center;
}

.buy {
    margin-top: 3vh;
}

.lightgreenn {
    background-color: lawngreen;
    padding: 0.7vh;
    width: 2vh;
    border: none;
    border-radius: 15px;
    height: 2vh;
    color: lawngreen;
}

.blackk {
    background-color: black;
    padding: 0.7vh;
    width: 2vh;
    border: none;
    border-radius: 15px;
    height: 2vh;
    color: black;
}

.logo2 {
    margin-top: 10vh;
}

.logo1 {
    width: 70px;
}

.r {
    width: 30px;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 7vh;
}

main {
    display: grid;
    justify-content: space-between;
    margin-left: 20vh;
    margin-top: 15vh;
}

.buy {
    width: 22vh;
    height: 5vh;
    border-radius: 8px;
    color: white;
    background-color: #ed3b6b;
    border: none;
}

.left_text {
    display: grid;
}

.right {
    display: flex;
    gap: 5vh;
}

.logo2 {
    width: 55vh;
}